.texts{
    margin-top: 10%;
    padding-top: 1% ;
}

.container{
    padding: 3%;
    
    padding-bottom: 100%;
    align-content: center;
    width: 100%;
}
@media only screen and (max-width: 1000px) {
    .texts{
        margin-top: 20%;
        padding-top: 20%;
    }
}
.table{
    overflow: auto!important;
}