<div class="container">
    <div class="card shadow-lg p-3 mb-5">
        <div class="card-body">
            <div class="row">
                <div class="col-12 text-center">
                    <app-hero></app-hero>
                </div>
                <div class="col-12 text-center texts ">
                    <div>
                        <h4>Seja Bem-vindo!</h4>
                        <h4>Ao seu <span class="fw-bold">sistema de contatos!</span></h4>
                        <div class="pt-2">
                            <button type="button" (click)="navigate()"  class="btn btn-warning w-100 button fw-semibold mt-10 text-white">Começar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
