<div class="container">

  <app-bread-title [action]="'list'"></app-bread-title>

    <div class="card shadow-lg p-3 mb-5">
        <div class="card-body " style="overflow-y: scroll!important;max-height: 30rem;">
          <app-spinner-loading [loading]="load" [center]="true"></app-spinner-loading>

          <button type="button"  (click)="navigate('/contact/new')"   class="btn btn-warning button fw-semibold  mb-2 text-white">
            Adicionar
          </button>
            
                <div class="table-responsive" *ngIf="data.length > 0">
                    <table class="table able-striped">
                        <div class="bd-example">
                            <table class="table " >
                              <thead class="table-light table-striped">

                                  <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col" class="d-none d-md-table-cell">E-mail</th>
                                    <th scope="col" >Nome</th>
                                    <th scope="col"class="d-none d-md-table-cell">Data Cadastro</th>
                                    <th scope="col ">
                                      <div class="text-center">
                                        Ações
                                      </div>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                <ng-container *ngFor="let contact of data">
                                  <tr>
                                    <th scope="row">{{contact.id}}</th>
                                    <td class="d-none d-md-table-cell">{{contact.email}}</td>
                                    <td >{{contact.nome}}</td>
                                    <td class="d-none d-md-table-cell">{{contact.dataCadastro | date: 'dd/mm/yyyy hh:mm'}}</td>
                                    <td class="d-flex flex-row align-items-center justify-content-center">
                                      <button (click)="navigate('/contact', contact.id)"
                                        class="btn btn-outline-warning btn-sm mr-2s ml-2 m-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                          class="bi bi-pencil-square" viewBox="0 0 16 16">
                                          <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                          <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                      </button>
                                      
          
                                      <div >
                                        <button (click)="delete(contact.id)" class="btn btn-danger btn-sm m-1">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path
                                              d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                          </svg>
                                        </button>
                                      </div>
                                    </td>

                                  </tr>
                              </ng-container>
                              </tbody>
                              
                            </table>
                            </div>
                    </table>
                  </div>
        </div>
    </div>
</div>


