/* styles.css */

@import '~ngx-toastr/toastr.css';
@import '~ngx-toastr/toastr';


.body{
    margin: 0;
    width: 100%;
    height: 100%;
}
* {
    font-family: "Nunito", sans-serif !important;
    overflow: hidden !important;
  }